<img class="app-content-list-item-icon organisation__icon" ng-show="ctrl.url()!==undefined" ng-src="logo.php?url={ctrl.url()}" />
<div class="app-content-list-item-icon organisation__icon" ng-show="ctrl.url()===undefined" ng-style="{'background-color': (ctrl.id() | organisationColor) }">{{ ctrl.name() | firstCharacter }}</div>
<div class="app-content-list-item-line-one">{{ ctrl.name() | newOrganisation }}</div>
<div class="app-content-list-item-line-two" ng-if="ctrl.email()">{{ctrl.email()}}</div>